In [2]:
import pandas as pd

Importing all reports and adding the Organization as a column

In [3]:
TMH = pd.read_csv(r"C:\Users\Navya.LAPTOP-AQ18NGM8\Downloads\Survey List-TMH.csv")
TMH["Organization"] = "TMH"
TMH.head()

,ID,NAME,DMG,SPECIALTY,STATUS,TURNAROUND,SENT,Unnamed: 7,RESPONDED,Unnamed: 9,DURATION,SOURCE,DEVICE,Organization
0,34974,"Gokarn, A",Adult Hemato Lymphoid,MedOnc,Completed,2382,"Aug 1, Mon",6:31 am,"Aug 1, Mon",7:10 am,94,direct,vivo 1718,TMH
1,34974,"Gokarn, A",Adult Hemato Lymphoid,MedOnc,Completed,3602,"Aug 1, Mon",6:31 am,"Aug 1, Mon",7:31 am,428,direct,vivo 1718,TMH
2,35019,"Badwe, R",Breast,"SxOnc,MedOnc",Completed,8048,"Aug 1, Mon",6:31 am,"Aug 1, Mon",8:45 am,155,email,browser,TMH
3,35112,"Badwe, R",Breast,"SxOnc,MedOnc",Completed,8232,"Aug 1, Mon",6:31 am,"Aug 1, Mon",8:48 am,159,direct,browser,TMH
4,35015,"Jiwanani, S",Thoracic,SxOnc,Completed,976,"Aug 1, Mon",10:40 am,"Aug 1, Mon",10:56 am,111,email,iPhone,TMH

In [4]:
NCG = pd.read_csv(r"C:\Users\Navya.LAPTOP-AQ18NGM8\Downloads\Survey List-NCG.csv")
NCG["Organization"] = "NCG"
NCG.head()

,ID,NAME,DMG,SPECIALTY,STATUS,TURNAROUND,SENT,Unnamed: 7,RESPONDED,Unnamed: 9,DURATION,SOURCE,DEVICE,Organization
0,33709,"Thaker, P",Gynecology,"SxOnc,MedOnc",Completed,1403,"Aug 1, Mon",6:31 am,"Aug 1, Mon",6:54 am,59,email,iPhone,NCG
1,34998,"Thaker, P",Gynecology,"SxOnc,MedOnc",Completed,1578,"Aug 1, Mon",6:31 am,"Aug 1, Mon",6:57 am,167,direct,iPhone,NCG
2,34767,"Sunil, B",Gastro Intestinal (GI),SxOnc,Completed,10771,"Aug 1, Mon",5:12 pm,"Aug 1, Mon",8:12 pm,90,email,iPhone,NCG
3,35146,"Sunil, B",Gastro Intestinal (GI),SxOnc,Completed,26251,"Aug 1, Mon",11:48 pm,"Aug 2, Tue",7:05 am,97,email,iPhone,NCG
4,35101,"Rai, B",Gynecology,RadOnc,Completed,1285,"Aug 2, Tue",10:30 am,"Aug 2, Tue",10:51 am,335,email,iPhone,NCG

In [5]:
Navya_US =  pd.read_csv(r"C:\Users\Navya.LAPTOP-AQ18NGM8\Downloads\Survey List-NavyaUS.csv")
Navya_US["Organization"] = "Navya_US"
Navya_US.head()

,ID,NAME,DMG,SPECIALTY,STATUS,TURNAROUND,SENT,Unnamed: 7,RESPONDED,Unnamed: 9,DURATION,SOURCE,DEVICE,Organization
0,35019,"Feldman, N","Breast,Gynecology",MedOnc,Completed,50576,"Aug 1, Mon",9:07 pm,"Aug 2, Tue",11:10 am,605,direct,iPhone,Navya_US
1,35130,"., B","Breast,Thoracic,Bone and Soft Tissue,Uro Oncol...",RadOnc,Completed,35790,"Aug 3, Wed",6:31 am,"Aug 3, Wed",4:27 pm,21,direct,Macintosh,Navya_US
2,35148,"Lingam, B","Breast,Thoracic,Bone and Soft Tissue,Uro Oncol...",MedOnc,Completed,65026,"Aug 3, Wed",6:31 am,"Aug 4, Thu",12:34 am,398,direct,iPhone,Navya_US
3,35090,"Lingam, B","Breast,Thoracic,Bone and Soft Tissue,Uro Oncol...",MedOnc,Completed,51175,"Aug 3, Wed",10:30 am,"Aug 4, Thu",12:43 am,315,direct,iPhone,Navya_US
4,34689,"Lingam, B","Breast,Thoracic,Bone and Soft Tissue,Uro Oncol...",MedOnc,Completed,37732,"Aug 3, Wed",4:10 pm,"Aug 4, Thu",2:39 am,221,direct,iPhone,Navya_US

In [6]:
TN = pd.read_csv(r"C:\Users\Navya.LAPTOP-AQ18NGM8\Downloads\Survey List-TN.csv")
TN["Organization"] = "TN"
TN.head()

,ID,NAME,DMG,SPECIALTY,STATUS,TURNAROUND,SENT,Unnamed: 7,RESPONDED,Unnamed: 9,DURATION,SOURCE,DEVICE,Organization
0,35716,"USHA DEVI, S","Head & Neck,Thoracic,Breast,Gastro Intestinal ...",SxOnc,Completed,13901,"Aug 18, Thu",4:42 pm,"Aug 18, Thu",8:33 pm,204,direct,iPhone,TN
1,35713,"S, M","Head & Neck,Thoracic,Breast,Gastro Intestinal ...",MedOnc,Completed,59227,"Aug 18, Thu",4:48 pm,"Aug 19, Fri",9:15 am,383,direct,vivo 1716,TN
2,35716,"S, M","Head & Neck,Thoracic,Breast,Gastro Intestinal ...",MedOnc,Completed,59755,"Aug 18, Thu",4:42 pm,"Aug 19, Fri",9:18 am,150,direct,vivo 1716,TN
3,35713,"USHA DEVI, S","Head & Neck,Thoracic,Breast,Gastro Intestinal ...",SxOnc,Completed,98423,"Aug 18, Thu",4:48 pm,"Aug 19, Fri",8:08 pm,75,direct,iPhone,TN
4,35716,"Santhanaraman, N","Head & Neck,Thoracic,Breast,Gastro Intestinal ...",RadOnc,Completed,669173,"Aug 18, Thu",4:42 pm,"Aug 26, Fri",10:35 am,142,direct,iPhone,TN

In [7]:
TMH["Organization"] = "TMH"
TMH.head()

,ID,NAME,DMG,SPECIALTY,STATUS,TURNAROUND,SENT,Unnamed: 7,RESPONDED,Unnamed: 9,DURATION,SOURCE,DEVICE,Organization
0,34974,"Gokarn, A",Adult Hemato Lymphoid,MedOnc,Completed,2382,"Aug 1, Mon",6:31 am,"Aug 1, Mon",7:10 am,94,direct,vivo 1718,TMH
1,34974,"Gokarn, A",Adult Hemato Lymphoid,MedOnc,Completed,3602,"Aug 1, Mon",6:31 am,"Aug 1, Mon",7:31 am,428,direct,vivo 1718,TMH
2,35019,"Badwe, R",Breast,"SxOnc,MedOnc",Completed,8048,"Aug 1, Mon",6:31 am,"Aug 1, Mon",8:45 am,155,email,browser,TMH
3,35112,"Badwe, R",Breast,"SxOnc,MedOnc",Completed,8232,"Aug 1, Mon",6:31 am,"Aug 1, Mon",8:48 am,159,direct,browser,TMH
4,35015,"Jiwanani, S",Thoracic,SxOnc,Completed,976,"Aug 1, Mon",10:40 am,"Aug 1, Mon",10:56 am,111,email,iPhone,TMH

Concatenating the needed reports only

In [8]:
all_surveys_list = pd.concat([TMH,NCG],ignore_index=True).reset_index()
all_surveys_list.drop('index', axis=1, inplace=True)

all_surveys_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2086 entries, 0 to 2085
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2086 non-null   int64
 1   NAME          2086 non-null   object
 2   DMG           2086 non-null   object
 3   SPECIALTY     2086 non-null   object
 4   STATUS        2086 non-null   object
 5   TURNAROUND    2086 non-null   int64
 6   SENT          2086 non-null   object
 7   Unnamed: 7    2086 non-null   object
 8   RESPONDED     2024 non-null   object
 9   Unnamed: 9    2024 non-null   object
 10  DURATION      2086 non-null   int64
 11  SOURCE        2024 non-null   object
 12  DEVICE        2024 non-null   object
 13  Organization  2086 non-null   object
dtypes: int64(3), object(11)
memory usage: 228.3+ KB

Filtering out completed surveys

In [9]:
all_comp_surveys_list = all_surveys_list[all_surveys_list['STATUS']=='Completed']

In [11]:
all_comp_surveys_list.reset_index()
all_comp_surveys_list.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2024 entries, 0 to 2069
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2024 non-null   int64
 1   NAME          2024 non-null   object
 2   DMG           2024 non-null   object
 3   SPECIALTY     2024 non-null   object
 4   STATUS        2024 non-null   object
 5   TURNAROUND    2024 non-null   int64
 6   SENT          2024 non-null   object
 7   Unnamed: 7    2024 non-null   object
 8   RESPONDED     2024 non-null   object
 9   Unnamed: 9    2024 non-null   object
 10  DURATION      2024 non-null   int64
 11  SOURCE        2024 non-null   object
 12  DEVICE        2024 non-null   object
 13  Organization  2024 non-null   object
dtypes: int64(3), object(11)
memory usage: 237.2+ KB

In [109]:
all_comp_surveys_list.reset_index(drop=True)
all_comp_surveys_list.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2024 entries, 0 to 2069
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2024 non-null   int64
 1   NAME          2024 non-null   object
 2   DMG           2024 non-null   object
 3   SPECIALTY     2024 non-null   object
 4   STATUS        2024 non-null   object
 5   TURNAROUND    2024 non-null   int64
 6   SENT          2024 non-null   object
 7   Unnamed: 7    2024 non-null   object
 8   RESPONDED     2024 non-null   object
 9   Unnamed: 9    2024 non-null   object
 10  DURATION      2024 non-null   int64
 11  SOURCE        2024 non-null   object
 12  DEVICE        2024 non-null   object
 13  Organization  2024 non-null   object
dtypes: int64(3), object(11)
memory usage: 237.2+ KB

Merging columns and renaming alonng with dropping unneeded columns for cleaner data

In [110]:
for i in all_comp_surveys_list.index:
    all_comp_surveys_list.loc[i,"SENT TIME"] = all_comp_surveys_list.loc[i,"SENT"]+", "+all_comp_surveys_list.loc[i,"Unnamed: 7"]

C:\Users\Navya.LAPTOP-AQ18NGM8\AppData\Local\Temp\ipykernel_3040\823535504.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_comp_surveys_list.loc[i,"SENT TIME"] = all_comp_surveys_list.loc[i,"SENT"]+", "+all_comp_surveys_list.loc[i,"Unnamed: 7"]

In [111]:
for i in all_comp_surveys_list.index:
    all_comp_surveys_list.loc[i,"RESPONDED AT"] = all_comp_surveys_list.loc[i,"RESPONDED"]+", "+all_comp_surveys_list.loc[i,"Unnamed: 9"]
    
all_comp_surveys_list.head()

all_comp_surveys_list.drop(["SENT","Unnamed: 7", "RESPONDED", "Unnamed: 9", "SOURCE", "DEVICE"], axis=1,inplace=True)

C:\Users\Navya.LAPTOP-AQ18NGM8\AppData\Local\Temp\ipykernel_3040\3385483750.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_comp_surveys_list.loc[i,"RESPONDED AT"] = all_comp_surveys_list.loc[i,"RESPONDED"]+", "+all_comp_surveys_list.loc[i,"Unnamed: 9"]
C:\Users\Navya.LAPTOP-AQ18NGM8\AppData\Local\Temp\ipykernel_3040\3385483750.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_comp_surveys_list.drop(["SENT","Unnamed: 7", "RESPONDED", "Unnamed: 9", "SOURCE", "DEVICE"], axis=1,inplace=True)

Formatting columns with time durations into proper format and saving to CSV

In [121]:
all_comp_surveys_list['DURATION'] = pd.to_datetime(all_comp_surveys_list.DURATION, unit='s').dt.strftime('%H:%M:%S')
all_comp_surveys_list['TURNAROUND'] = pd.to_datetime(all_comp_surveys_list.TURNAROUND, unit='s').dt.strftime('%H:%M:%S')

all_comp_surveys_list.to_csv('All Expert Responded Surveys.csv')

Creating speciality responses per day report using the completed report

In [122]:
test = all_comp_surveys_list

test = test.set_index(test.columns.drop('DMG',1).tolist()).DMG.str.split(',', expand=True).stack().reset_index().rename(columns={0:'DMG'}).loc[:, test.columns]

test = test.join(test['RESPONDED AT'].str.split(',', 2, expand=True).rename(columns={0:'Date', 1:'Day', 2: 'Time'}))

specialty_by_day = test.groupby(['DMG','Day']).size().reset_index(name = 'Number of Responses')

specialty_by_day.to_csv("Specialty Responses per days of week.csv")

C:\Users\Navya.LAPTOP-AQ18NGM8\AppData\Local\Temp\ipykernel_3040\762757239.py:5: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  test = test.join(test['RESPONDED AT'].str.split(',', 2, expand=True).rename(columns={0:'Date', 1:'Day', 2: 'Time'}))

,ID,NAME,DMG,SPECIALTY,STATUS,TURNAROUND,DURATION,Organization,SENT TIME,RESPONDED AT,Date,Day,Time
0,34974,"Gokarn, A",Adult Hemato Lymphoid,MedOnc,Completed,00:39:42,00:01:34,TMH,"Aug 1, Mon, 6:31 am","Aug 1, Mon, 7:10 am",Aug 1,Mon,7:10 am
1,34974,"Gokarn, A",Adult Hemato Lymphoid,MedOnc,Completed,01:00:02,00:07:08,TMH,"Aug 1, Mon, 6:31 am","Aug 1, Mon, 7:31 am",Aug 1,Mon,7:31 am
2,35019,"Badwe, R",Breast,"SxOnc,MedOnc",Completed,02:14:08,00:02:35,TMH,"Aug 1, Mon, 6:31 am","Aug 1, Mon, 8:45 am",Aug 1,Mon,8:45 am
3,35112,"Badwe, R",Breast,"SxOnc,MedOnc",Completed,02:17:12,00:02:39,TMH,"Aug 1, Mon, 6:31 am","Aug 1, Mon, 8:48 am",Aug 1,Mon,8:48 am
4,35015,"Jiwanani, S",Thoracic,SxOnc,Completed,00:16:16,00:01:51,TMH,"Aug 1, Mon, 10:40 am","Aug 1, Mon, 10:56 am",Aug 1,Mon,10:56 am
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4622,43475,"Mittal, R",Pediatric Solid Tumours,MedOnc,Completed,17:16:11,00:16:03,NCG,"Mar 2, Thu, 5:18 pm","Mar 3, Fri, 10:34 am",Mar 3,Fri,10:34 am
4623,43475,"Mittal, R",Gynecology,MedOnc,Completed,17:16:11,00:16:03,NCG,"Mar 2, Thu, 5:18 pm","Mar 3, Fri, 10:34 am",Mar 3,Fri,10:34 am
4624,43475,"Mittal, R",Head & Neck,MedOnc,Completed,17:16:11,00:16:03,NCG,"Mar 2, Thu, 5:18 pm","Mar 3, Fri, 10:34 am",Mar 3,Fri,10:34 am
4625,43534,"M Jose, W",Neuro Oncology,MedOnc,Completed,03:45:08,00:40:53,NCG,"Mar 3, Fri, 7:30 am","Mar 3, Fri, 11:16 am",Mar 3,Fri,11:16 am
4626,43534,"M Jose, W",Gastro Intestinal (GI),MedOnc,Completed,03:45:08,00:40:53,NCG,"Mar 3, Fri, 7:30 am","Mar 3, Fri, 11:16 am",Mar 3,Fri,11:16 am

In [97]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4627 entries, 0 to 4626
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            4627 non-null   int64
 1   NAME          4627 non-null   object
 2   DMG           4627 non-null   object
 3   SPECIALTY     4627 non-null   object
 4   STATUS        4627 non-null   object
 5   TURNAROUND    4627 non-null   object
 6   DURATION      4627 non-null   object
 7   Organization  4627 non-null   object
 8   SENT TIME     4627 non-null   object
 9   RESPONDED AT  4627 non-null   object
 10  Date          4627 non-null   object
 11  Day           4627 non-null   object
 12  Time          4627 non-null   object
dtypes: int64(1), object(12)
memory usage: 470.1+ KB

In [ ]:
test[test['DMG']=='Neuroendocrine/Carcinoid Tumors']

Empty DataFrame
Columns: [ID, NAME, DMG, SPECIALTY, STATUS, TURNAROUND, DURATION, Organization, SENT TIME, RESPONDED AT, Date, Day, Time]
Index: []

Splitting up rows with comma separated DMG values into multiple rows

In [114]:
turnaround_test = all_surveys_list[all_surveys_list['STATUS']=='Completed']
turnaround_test = turnaround_test.set_index(turnaround_test.columns.drop('DMG',1).tolist()).DMG.str.split(',', expand=True).stack().reset_index().rename(columns={0:'DMG'}).loc[:, turnaround_test.columns]

Finding Average Turnaroud time for each DMG

In [115]:
turnaround_avg = turnaround_test.groupby('DMG')['TURNAROUND','DURATION'].mean().reset_index().rename(columns={'TURNAROUND': 'AVERAGE_TURNAROUND', 'DURATION': 'AVERAGE_DURATION'})

C:\Users\Navya.LAPTOP-AQ18NGM8\AppData\Local\Temp\ipykernel_3040\1858647149.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  turnaround_avg = turnaround_test.groupby('DMG')['TURNAROUND','DURATION'].mean().reset_index().rename(columns={'TURNAROUND': 'AVERAGE_TURNAROUND', 'DURATION': 'AVERAGE_DURATION'})

In [116]:
turnaround_avg

                          DMG  AVERAGE_TURNAROUND  AVERAGE_DURATION
0       Adult Hemato Lymphoid       157489.772727        341.884615
1        Bone and Soft Tissue       219822.545961        240.604457
2                      Breast        82530.453237        290.710432
3      Gastro Intestinal (GI)       109760.579350        326.757170
4                  Gynecology       118252.295585        280.756238
5                 Head & Neck       255160.464896        271.631879
6              Neuro Oncology       109498.561983        418.764463
7   Pediatric Hemato Lymphoid        79259.310526        397.110526
8     Pediatric Solid Tumours       123277.488889        348.092063
9                    Thoracic       209934.524871        269.809605
10               Uro Oncology       289299.866667        292.508571

Introduction of proper formatting

In [117]:
turnaround_avg['AVERAGE_DURATION'] = pd.to_datetime(turnaround_avg.AVERAGE_DURATION, unit='s').dt.strftime('%H:%M:%S')
turnaround_avg['AVERAGE_TURNAROUND'] = pd.to_datetime(turnaround_avg.AVERAGE_TURNAROUND, unit='s').dt.strftime('%H:%M:%S')

In [118]:
turnaround_avg.to_csv('Average Turnaround per specialty.csv')